body {
  height: 100%;
  background-color: #1e1e1e;
  border: 5vw solid #1e1e1e;
}
  
.ticket{
  width: 40%;
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgb(225, 225, 225);
}

.caja{
  width: 80%;
  position: relative;
  display: flex;
  margin: 0 auto;
  background-color: #cff7d3;   
  border: 1px solid #009951;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
}
  
.sangriaCaja{
  width: 16px;
  padding: 1px;
  background-color: #009951;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.cajaBoton{
  position: absolute;
  right: 0;
  float: right;
  padding-right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
button{
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: #009951;
  font-weight: 300;
  font-size: 30px;
}

.escaner{
  width: 80%;
  display: flex;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}  
.escaner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.escanerTexto{
  width: 80px;
}
.escanerCuadro{
  border: none;
  background-color: rgb(202, 201, 201);
}

.total{
  cursor: pointer;
  height: 36px;
  width: 250px;
  display: flex;
  justify-content: center;
  line-height: 36px;
  margin: 0 auto;
  background-color: #600042;
  border-radius: 40px;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.resumen{
  width: 255px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: rgb(225, 225, 225);
}
.resumen#ticket{
  text-align: center;
}
.resumen#totalticket{
  text-align: left;
}

h1{
  font-size: 20px;
  color: #009951;
}
h2{
  font-weight: 500;
  font-size: 20px;
  color: white;
}

p{
  font-weight: 400;
  font-size: 15px;
  line-height: 5px;
  color: var(--color-text, #333333);
}

.bg-grey {
  background-color: rgb(225, 225, 225);
}
